{% extends "crud/base.html" %}

{% block content %}
<table class="table table-dark table-striped">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarea</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for tarea in tareas %}
    <tr>
      <th scope="row"> {{ tarea.id}}</th>
      <td> {{ tarea }}</td>
      <td>
          <a  class="btn btn-danger btn-sm" href="{% url 'crud_app:eliminar' tarea.id %}"> Eliminar </a>
          <a class="btn btn-info btn-sm" href="{% url 'crud_app:editar' tarea.id %}"> Editar </a>
      </td>
    </tr>

    {% empty %}
     <tr>
      <th scope="row">#</th>
      <td colspan="2">Ninguna tarea agregada aún</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock content %}